/* theme */
/* light */
/* --primary: #6200EE;
--primary-var: #3700B3;
--secondary: #03DAC6;
--secondary-var: #018786;
--background: #FFFFFF;
--surface: #FFFFFF;
--error: #B00020;
--on-primary: #FFFFFF;
--on-secondary: #000000;
--on-background: #000000;
--on-surface: #000000;
--on-error: #FFFFFF; */

/* dark */
/* --primary: #BB86FC;
--primary-var: #3700B3;
--secondary: #03DAC6;
--secondary-var: #03DAC6;
--background: #121212;
--surface: #121212;
--error: #CF6679;
--on-primary: #000000;
--on-secondary: #000000;
--on-background: #FFFFFF;
--on-surface: #FFFFFF;
--on-error: #000000; */

:root {
  --primary: #6200EE;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --secondary-variant: #018786;
  --background: #FFFFFF;
  --surface: #FFFFFF;
  --error: #B00020;
  --on-primary: #FFFFFF;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--on-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}